body {
    background-color: #DBB9FC;
    color: #5200AC;

}

.topContainer {

}
.header {
    display: flex;
    justify-content: center;
    padding: 0
}
.queryContainer {
    min-height: 80px;
    max-height: 80px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    margin: 1em
}
.queryFilters {
    display: flex;
    align-items: center;
    min-width: 385px;
    justify-content: left
}
.submitButton {
    position: relative;
    align-self: left;
    background-color: #E4CBFD
}
.resultsContainer {
    margin: .25em
}

.MuiDivider-root {
    margin: .5em;
    background-color: #280063;
    display: flex;
}
.MuiButton-root {
    color: #280063
}
.MuiButton-contained {
    color: #280063
}
.difficultiesPanel {
    display: flex;
    background-color: #dbb9fc;
    box-shadow: none;
    margin: 0;
    padding: 0;
    color: #38007F;
}
.summaryPanel {
    min-height: inherit;
    padding: 0;
}
.detailsPanel {
    padding: 0;
}
.MuiExpansionPanelSummary-root.Mui-expanded {
    min-height: 32px;
    padding: 0, 0, 0, 0;
    margin: 0;
}
.MuiExpansionPanelSummary-root {
    display: inline-flex;
    align-self: flex-start;
}
.MuiTableCell-root {
    border-bottom: 1px solid #BE80FA;
    color: #38007F;
    font-size: 1rem;
    line-height: 1;
    padding: 0;
}
.MuiTableCell-head {
    color: #280063;
    font-weight: bold;
    line-height: 1rem;
    font-size: 1.2rem;
}
.MuiTablePagination-root {
    color: #280063;
}
.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: .7;
    letter-spacing: 0.00938em;
}
.MuiListItem-gutters {
    padding-left: 8px;
    padding-right: 8px;
}
