body {
    background-color: #DBB9FC;
    color: #280063;
}

.topContainer {
    max-height: 164px;
    display: flex;
}
.header {
}
.queryContainer {
    max-height: 123px;
    display: flex;
    flex-flow: column wrap;
}
.queryFilters {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

}
.submitButton {
    position: relative;
    align-items: flex-start;
}
.resultsContainer {
}
.MuiDivider-root {
    margin: 8px;
    background-color: #111111;
    display: flex;
}
.MuiButton-root {
    color: #280063
}
.MuiButton-contained {
    color: #280063
}
.artist {
    min-width: 150px;
}
.track {
    min-width: 200px;
}
.bpm {
    min-width: 75px;
}
.pack {
    min-width: 150px;
}
.difficulty {
    display: flex;
}
.DifficultiesPanel {
    background-color: #dbb9fc;
    box-shadow: none;
    margin-left: 12px;
}
